body{
    color:rgb(12, 12, 12);
    background:rgb(18, 18, 18);
    margin: 0px;
}

header {
 border-bottom: solid 2px rgb(11, 34, 66); 
 padding: 20px;
 font-size: 32px;
 color: rgb(42,122,228);    
}
 section{
    background:  rgb(184,156,213);
 }